<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
    <style>
    #bg{
        background-size: 1800px 900px;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
    }  
</style>
</head>
{% load static %}
<body id="bg" style="background-image: url('{% static "cool.jpg"%}')";>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        
        <div class="container-fluid">
          
          <a class="navbar-brand" href="#">
            <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="30" alt="" loading="lazy" />
          </a>
      
          
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
      
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"> Email </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">link</a>
              </li>
            </ul>
            
            <form class="d-flex input-group w-auto">
              <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
              <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
                Search
              </button>
            </form>
        </div>
    </div>
</nav>

{% block start %}




{% endblock %}

            <footer class="bg-body-tertiary text-center" style="background-color:grey">
                
                <div class="container p-4 pb-0">
                  
                  <section class="">
                    <form action="">
                      
                      <div class="row d-flex justify-content-center">
                        
                        <div class="col-auto">
                          <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                          </p>
                        </div>
                        
              
                       
                        <div class="col-md-5 col-12">
                          
                          <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="form5Example26" class="form-control" />
                            <label class="form-label" for="form5Example26">Email address</label>
                          </div>
                        </div>
                        
                        <div class="col-auto">
                          
                          <button data-mdb-ripple-init type="submit" class="btn btn-primary mb-4">
                            Subscribe
                          </button>
                        </div>
                        
                      </div>
                      
                    </form>
                  </section>
                  
                </div>
                
              
                
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                  © 2020 Copyright:
                  <a class="text-body" href="#">MDBootstrap.com</a>
                </div>
                
              </footer>
            
    </body>
</html>